body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

ol.sortaable {
	margin: 0 0 9px 0;
	min-height: 10px;
	list-style-type: none;
	border:1px solid #ccc;
	padding:0;
}

	ol.sortaable li {
		display: block;
		cursor: move;
		margin: 5px;
		padding: 5px;
		border: 1px solid #cccccc;
		color: #0088cc;
		background: #eeeeee;
	}

		ol.sortaable li.placeholder {
			position: relative;
			margin: 0;
			padding: 0;
			border: none;
		}

			ol.sortaable li.placeholder:before {
				position: absolute;
				content: "";
				width: 0;
				height: 0;
				margin-top: -5px;
				left: -5px;
				top: -4px;
				border: 5px solid transparent;
				border-left-color: red;
				border-right: none;
			}

ol.sortaable.selectedFields:after {
	content : "If no fields are selected, all fields will be assumed."
}

.tag {
  font-size: 12px;
  padding: 0.3em 0.4em 0.3em;
  margin: 2px 1px !important;
  display: inline-block;
  max-width: 100%;
}

.tag > span {
  display: inline-block;
  max-width: 94%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tag a {
  display: inline-block;
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
  margin: 0 0 0 0.3em;
}

.tag a:hover {
  opacity: 1.0;
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}