<div class="row">

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Chart</h3>
			</div>
			<div class="panel-body" data-type="chart">
				@Html.Partial("_Loading")
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Chart Data</h3>
			</div>
			<div class="panel-body" data-type="table">
				@Html.Partial("_Loading")
			</div>
		</div>
	</div>

</div>